<footer id="footer" class="footer text-center fixed">
    <div class="container">
        <ul>
            <li>
                &copy; Copyright 2015 - <a href="http://zacharygolba.com" target="_blank">Zachary Golba</a>
            </li>
            <li>
                <a href="https://github.com/zacharygolba/stratosphere" target="_blank">Source</a>
            </li>
            <li>
                <a href="https://rubygems.org/gems/stratosphere" target="_blank">Gem</a>
            </li>
            <li>
                <a href="http://www.rubydoc.info/gems/stratosphere/0.0.1" target="_blank">
                    Doc<span class="visible-inline-xs">s</span><span class="hidden-inline-xs">umentation</span>
                </a>
            </li>
            <li>
                <a href="https://github.com/zacharygolba/stratosphere/issues" target="_blank"><span class="hidden-inline-xs">Report a </span> Bug<span class="visible-inline-xs">s</span> </a>
            </li>
        </ul>
    </div>
</footer>